.App{
  padding-top: 60px;
  position: relative;
  max-width: 1080px;
  margin: 20px auto;
}

@media(max-width:420px){
  label.title{
    font-size: 17px;

  }
  .daily-details-grid-item {
    justify-content: space-between;
    align-items: center;
    text-align: left;
    height: 20px;
    display: flex;
 
}

}
